@import '~@angular/material/prebuilt-themes/indigo-pink.css';

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    margin-left: .3em;
    margin-right: .3em;
    gap: .3em;
  }
  
  li {
    height: 40vh;
    flex-grow: 1;
    list-style: none;
    padding: 0%;
    margin: 0%;
    background-color: blueviolet;

  }
  
  li:last-child {
    flex-grow: 100;
  }
  
  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
  
  @media (max-aspect-ratio: 1/1) {
    li {
      height: 30vh;
    }
  }
  
  @media (max-height: 480px) {
    li {
      height: 80vh;
    }
  }
  
  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
      flex-direction: row;
    }
  
    li {
      height: auto;
      width: 100%;
    }
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }